* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: #5b5757;
}

@font-face {
  font-family: firstFont;
  src: url("../fonts/Oswald-Light.ttf");
}

::-moz-selection {
  background-color: #bb02ff;
  color: #fff;
}

::selection {
  background-color: #bb02ff;
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  font-family: firstFont;
  overflow-x: hidden;
  position: relative;
}

.header {
  padding: 0 2rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #312990;
}

.header .logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  overflow: hidden;
}

.navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navbar .navbar-list .navbar-link:link,
.navbar .navbar-list .navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
}

.navbar .navbar-list .navbar-link:hover,
.navbar .navbar-list .navbar-link:active {
  color: black;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.banner-container {
  width: 100%;
  height: 90vh;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner-container h1 {
  font-size: 2em;
  color: #1d1d1d;
}

.banner-container h2 {
  font-size: 3em;
  color: #6a89fe;
}

.banner-container p {
  margin-bottom: 20px;
  color: #000;
}

.banner-container::before {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  left: -100px;
  top: 80px;
}

.banner-container::after {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  right: -100px;
  top: 400px;
}

.btn1 {
  background: #312990;
  color: #fff;
  border: none;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 3px;
}

.btn2 {
  background: #312990;
  color: #fff;
  border: none;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 3px;
}

.footer-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#322990a4), to(#322990a4)), url("../img/2.jpg");
  background: linear-gradient(#322990a4, #322990a4), url("../img/2.jpg");
  background-size: cover;
  background-position: bottom;
}

.project-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 60px 100px;
  text-align: center;
}

.project-overview > div {
  border-radius: 5px;
  padding: 12px 0;
  color: #fff;
}

.project-overview > div > h1 {
  font-size: 1.8em;
  color: #fff;
}

.project-overview > div > img {
  width: 15%;
}

.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
  position: relative;
}

.about-container::before {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  left: -100px;
  top: 200px;
}

.about-container::after {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  right: -100px;
  top: 400px;
}

.about-content {
  width: 50%;
  padding: 0 4%;
}

.about-content > blockquote {
  border-left: 4px solid;
  -o-border-image: linear-gradient(#312990, #6a89fe);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#312990), to(#6a89fe));
     border-image: linear-gradient(#312990, #6a89fe);
  border-image-slice: 2;
  margin-left: 12px;
  background: #e5e5e5;
  padding: 5px;
  border-radius: 3px;
}

.about-media {
  width: 50%;
}

.about-media img {
  vertical-align: middle;
}

marquee {
  width: 90%;
  background-color: #312990;
  color: #fff;
  padding: 6px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px 200px;
  grid-column-gap: 25px;
  position: relative;
}

.card-container::before {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  left: -100px;
  top: 80px;
}

.card-container::after {
  content: "";
  width: 135px;
  height: 135px;
  background: linear-gradient(145deg, #ffa8a8, #ff7643);
  position: absolute;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  right: -100px;
  top: 400px;
}

.card {
  background-color: #fff;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 10px #ede9e9;
          box-shadow: 0 0 10px 10px #ede9e9;
}

.circle {
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-clip-path: circle(180px at center 0);
          clip-path: circle(180px at center 0);
  text-align: center;
  position: relative;
}

.circle p {
  color: #fff;
  font-size: 1.5em;
  padding: 10px 0;
}

.circle h1 {
  color: #fff;
  font-size: 3em;
  padding: 5px 0;
}

.card .content {
  position: absolute;
  color: black;
  bottom: 50px;
  text-align: center;
}

.sub-btn {
  background: black;
  color: #fff;
  border: none;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 20px;
  margin-top: 10px;
}

.card:nth-child(1) .circle,
.card:nth-child(1) .sub-btn {
  background-color: #312990;
}

.card:nth-child(2) .circle,
.card:nth-child(2) .sub-btn {
  background-color: #ffaf00;
}

.card:nth-child(3) .circle,
.card:nth-child(3) .sub-btn {
  background-color: #312990;
}

footer {
  background-color: #322990a8;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  letter-spacing: 1px;
}

@media only screen and (max-width: 698px) {
  .header {
    position: relative;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .navbar {
    width: 100%;
    height: 100vh !important;
    background-color: #312990;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .actived .navbar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .actived .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .banner-container {
    background-position: center;
    padding: 10px 10px;
  }
  .card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 20px 50px;
    grid-row-gap: 25px;
  }
  .project-overview {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 10px;
  }
  .about-content {
    width: 100%;
    padding: 0 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-media {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */