@import "./base/index";
@import "./util/colors";

// @forward and @use another option to use partials [ @use "colors" as cl ](when use colors file. name must be use)

// veriable
// nasted
// import and partials
// extend and inheritance
// if, else
// mixin and include

@font-face {
    font-family: firstFont;
    src: url('../fonts/Oswald-Light.ttf');
}

::selection {
    background-color: $color-purple;
    color: $color-white;
}

html {
    overflow-x: hidden;
}

body {
    font-family: firstFont;
    overflow-x: hidden;
}

.header {
    padding: 0 2rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-blue;
}

.header .logo {
    text-decoration: none;
    color: $color-white;
    font-size: 1.5rem;
}

.navbar {
    .navbar-list {
        display: flex;
        gap: 2rem;
        list-style-type: none;

        .navbar-link:link,
        .navbar-link:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;
            font-size: 1rem;
            transition: 0.3s;
            letter-spacing: 1px;
        }

        .navbar-link:hover,
        .navbar-link:active {
            color: $color-black;
        }
    }
}




.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 2rem;
    height: 2rem;
    color: $color-white;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

.banner-container {
    width: 100%;
    height: 90vh;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 100px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 2em;
        color: #1d1d1d;
    }

    h2 {
        font-size: 3em;
        color: $color-blue-two;
    }

    p {
        margin-bottom: 20px;
        color: #000;
    }
}

@mixin btn($bg1, $color, $type) {
    background: $bg1;
    color: $color;
    border: none;
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: 400;

    @if $type ==reactangel {
        border-radius: 3px;
    }

    @else if $type ==circle {
        border-radius: 20px;
    }

    @else {
        border-radius: none;
    }
}

.btn1 {
    @include btn($color-blue, $color-white, reactangel)
}

.btn2 {
    @include btn($color-blue, $color-white, reactangel)
}


.project-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    padding: 40px 100px;
    text-align: center;
    background-color: $color-blue;
}

.project-overview>div {
    border-radius: 5px;
    padding: 12px 0;
    color: $color-white;

}

.project-overview>div>h1 {
    font-size: 2em;
    color: $color-white;
}

.project-overview>div:nth-child(n) {}

.fa-brands {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 100px;
}

.about-content {
    width: 50%;
    padding: 0 4%;
}

.about-media {
    width: 50%;
}

marquee {
    background-color: $color-blue;
    color: $color-white;
    padding: 10px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 200px;
    grid-column-gap: 25px;
}

.card {
    background-color: $color-white;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 10px 10px #ede9e9;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: $color-black;
    clip-path: circle(180px at center 0);
    text-align: center;
    position: relative;
}

.circle p {
    color: $color-white;
    font-size: 1.5em;
    padding: 10px 0;
}

.circle h1 {
    color: $color-white;
    font-size: 3em;
    padding: 5px 0;
}

.card .content {
    position: absolute;
    color: $color-black;
    bottom: 50px;
    text-align: center;
}

.sub-btn {
    @include btn($color-black, $color-white , circle);
    margin-top: 10px;
}

.card:nth-child(1) .circle,
.card:nth-child(1) .sub-btn {
    background-color: $color-yellow;
}

.card:nth-child(2) .circle,
.card:nth-child(2) .sub-btn {
    background-color: $color-blue;
}

.card:nth-child(3) .circle,
.card:nth-child(3) .sub-btn {
    background-color: $color-pink;
}

footer {
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    padding: 12px 0;
    letter-spacing: 1px;
}


@media only screen and (max-width:698px) {

    .header {
        position: relative;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 999;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: $color-blue;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.3s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }


    .actived .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]:hover {
        transform: rotate(90deg);
        transition: 0.1s;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .banner-container {
        background-position: center;
        padding: 10px 10px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 50px;
        grid-row-gap: 25px;
    }

    .project-overview {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    .about-container {
        flex-direction: column;
        padding: 50px 10px;
    }

    .about-content {
        width: 100%;
        padding: 0 10px;
    }

    .about-media {
        width: 100%;
    }
}