@import "./base/index";
@import "./util/index";

// @forward and @use another option to use partials [ @use "colors" as cl ](when use colors file. name must be use)

// veriable
// nasted
// import and partials
// extend and inheritance
// if, else
// mixin and include

@font-face {
    font-family: firstFont;
    src: url('../fonts/Oswald-Light.ttf');
}

::selection {
    background-color: $color-blue-two;
    color: $color-white;
}

html {
    overflow-x: hidden;
}

body {
    font-family: firstFont;
    overflow-x: hidden;
    position: relative;
}

@mixin bodyCircle($pos1, $pos2, $side) {
    content: "";
    width: 135px;
    height: 135px;
    background: linear-gradient(145deg, #ffa8a8, #ff7643);
    position: absolute;
    clip-path: circle(50% at center);

    @if $side ==left {
        left: -$pos1;
        top: $pos2;
    }

    @else if $side ==right {
        right: -$pos1;
        top: $pos2;
    }
}

.header {
    padding: 0 2rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-blue;
}

.header .logo {
    text-decoration: none;
    color: $color-white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar {
    overflow: hidden;

    .navbar-list {
        display: flex;
        gap: 2rem;
        list-style-type: none;

        .navbar-link:link,
        .navbar-link:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;
            font-size: 1rem;
            transition: 0.3s;
            letter-spacing: 1px;
        }

        .navbar-link:hover,
        .navbar-link:active {
            color: $color-black;
        }
    }
}




.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 2rem;
    height: 2rem;
    color: $color-white;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

.banner-container {
    width: 100%;
    height: 90vh;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 100px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 2em;
        color: #1d1d1d;
    }

    h2 {
        font-size: 3em;
        color: $color-blue-two;
    }

    p {
        margin-bottom: 20px;
        color: #000;
    }
}

.banner-container::before {
    @include bodyCircle(100px, 80px, left)
}

.banner-container::after {
    @include bodyCircle(100px, 400px, right)
}


@mixin btn($bg1, $color, $type) {
    background: $bg1;
    color: $color;
    border: none;
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    z-index: 999;

    @if $type ==reactangel {
        border-radius: 3px;
    }

    @else if $type ==circle {
        border-radius: 20px;
    }

    @else {
        border-radius: none;
    }
}



.btn1 {
    @include btn($color-blue, $color-white, reactangel);
    position: relative;
    z-index: 999;
}

.btn1::before {
    content: "";
    width: 50%;
    height: 100%;
    background: $color-blue-two;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: circle(50% at 0% 0%);
    z-index: -999;
    transition: 0.5s;
    border-radius: 3px;
}

.btn1:hover.btn1::before {
    width: 400px;
    height: 400px;
}

.btn2 {
    @include btn($color-blue, $color-white, reactangel)
}

.btn2::before {
    @extend .btn1::before;
}


.footer-container {
    background: linear-gradient(#322990a4, #322990a4), url('../img/2.jpg');
    background-size: cover;
    background-position: bottom;
}

.project-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    padding: 60px 100px;
    text-align: center;
}

.project-overview>div {
    border-radius: 5px;
    padding: 12px 0;
    color: $color-white;

}

.project-overview>div>h1 {
    font-size: 1.8em;
    color: $color-white;
}

.project-overview>div>img {
    width: 15%;
}

.project-overview>div:nth-child(n) {}


.about-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    position: relative;
}

.about-container::before {
    @include bodyCircle(100px, 200px, left)
}

.about-container::after {
    @include bodyCircle(100px, 400px, right)
}

.crud {
    margin-top: 60px;
}

.about-content {
    width: 50%;
    padding: 0 4%;
    color: $color-gray;
}

.about-content>blockquote {
    border-left: 4px solid;
    border-image: linear-gradient($color-blue, $color-blue-two);
    border-image-slice: 2;
    margin-left: 12px;
    background: #e5e5e5;
    padding: 5px;
    border-radius: 3px;
}

.about-media {
    width: 50%;
}

.about-media img {
    vertical-align: middle;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 200px;
    grid-column-gap: 25px;
    position: relative;
}

.card-container::before {
    @include bodyCircle(100px, 80px, left)
}

.card-container::after {
    @include bodyCircle(100px, 400px, right)
}

.sub-btn {
    @include btn($color-black, $color-white , circle);
    margin-top: 10px;
}


//mobile responsive start

@media only screen and (max-width:698px) {

    .header {
        position: relative;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 9999;
    }

    .navbar {
        width: 100%;
        height: 100vh !important;
        background-color: $color-blue;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        transform: translateX(100%);
        transition: transform 0.3s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }


    .actived .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]:hover {
        transform: rotate(90deg);
        transition: 0.1s;
    }

    .actived .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .banner-container {
        background-position: center;
        padding: 10px 10px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 50px;
        grid-row-gap: 25px;
    }

    .project-overview {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    .about-container {
        flex-direction: column;
        padding: 30px 10px;
    }

    .crud {
        margin-top: 10px;
    }

    .about-content {
        width: 100%;
        padding: 0 10px;
        order: 2;
    }

    .about-media {
        width: 100%;
    }
}